<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Precise Extract - Log In / Sign Up</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <section class="navbar">
        <nav>
            <a href="{{url_for('home')}}"><img src = "{{url_for('static',filename='img/logo.png')}}"></a>
            <div class="nav-links">
              <ul>
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('service')}}">Service's</a></li>
                <li><a href="{{url_for('aboutus')}}">About</a></li>
            </ul>
            </div>
        </nav>
      </div>
        <div class="hero">
          <div class="form-box">
            <div class="button-box">
              <div id="btn"></div>
              <button type="button" class="toggle-btn" onclick="login()" onfocus="hideall()">Log In</button> 
              <button type="button" class="toggle-btn" onclick="signup()">Sign Up</button>
            </div>
            <form id="login" class="form" action="" method="POST">
              {{ form.hidden_tag() }}
              <div class="flex-column">
                {{form.email.label(class='flex-column')}}
                <!-- <p>Email </p> -->
              </div>
                <div class="inputForm">
                  <svg height="20" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg"><g id="Layer_3" data-name="Layer 3"><path d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"></path></g></svg>
                  {{form.email(class='input' ,placeholder='Enter your Email')}}
                  <!-- <input type="text" class="input" placeholder="Enter your Email"> -->
                </div>
              <div class="flex-column">
                {{form.password.label(class='flex-column')}}
                <!-- <p>Password </p> -->
              </div>
                <div class="inputForm">
                  <svg height="20" viewBox="-64 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0"></path><path d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0"></path></svg>        
                  {{form.password(class='input',placeholder='Enter your Password' , id='password')}}
                  <!-- <input type="password" class="input" placeholder="Enter your Password" id="password"> -->
                  <img src="{{url_for('static',filename='img/eye-close.png')}}" id="eyeicon">
                </div>
                <div class="flex-row">
                  <div>
                    {{form.remember()}}
                    {{form.remember.label()}}
                  <!-- <span>Remember me </span> -->
                  </div>
                  <span class="span" id="forgotPassword">Forgot password?</span>
                </div>
                {{form.submit(class='button-submit')}}
                <!-- <button class="button-submit">Log In</button> -->
  
                <div class="flex-row">
                  
                </div>
              </form>    
              <form id="signup" class="form" action="" method="POST">
                {{ form1.hidden_tag() }}
                <div class="flex-column">
                  {{form1.email.label(class='flex-column')}}
                </div>
                <div class="inputForm">
                  <svg height="20" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg"><g id="Layer_3" data-name="Layer 3"><path d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"></path></g></svg>
                  {{form1.email(class='input' ,placeholder='Enter your Email', id='emailInput' , onblur='validateEmail()' , onfocus='hideErrorMessage()')}}
                  <!-- <input type="text" id="emailInput" class="input" placeholder="Enter your Email" onblur="validateEmail()" onfocus="hideErrorMessage()"> -->
                </div>
                <div class="flex-column">
                  {{form1.password.label(class='flex-column')}}
                  <!-- <p>Password </p> -->
                </div>
                <div class="inputForm">
                  <svg height="20" viewBox="-64 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0"></path><path d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0"></path></svg>        
                  
                  {{form1.password(class='input' , id='passwordSignup' , placeholder='Enter your Password' , id='passwordSignup' , onblur='passstr()' , onfocus='hidestrMessage()')}}
                  <!-- <input type="password" class="input" placeholder="Enter your Password" id="passwordSignup" onblur="passstr()" onfocus="hidestrMessage()"> -->
                  <img src="{{url_for('static',filename='img/eye-close.png')}}" id="eyeiconSignup">
                </div>
                <div class="flex-column">
                  {{form1.confirm_password.label(class='flex-column')}}
                  <!-- <p>Confirm Password </p> -->
                </div>
                <div class="inputForm">
                  <svg height="20" viewBox="-64 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0"></path><path d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0"></path></svg>        
                  {{form1.confirm_password(class='input' , id='confirmPassword' , placeholder='Enter your password again' , onkeyup='validatePasswords()')}}
                  <!-- <input type="password" class="input" placeholder="Enter your Password" id="confirmPassword" onkeyup="validatePasswords()" > -->
                  <img src="{{url_for('static',filename='img/eye-close.png')}}" id="eyeiconConfirm">
                </div>
                {{form1.submit(class='button-submit' , id='signupButton' ,disabled='true')}}
                <!-- <button class="button-submit">Sign Up</button> -->
                <div class="flex-row">
                  
                </div>
              </form>
          </div>
          
        </div>
        </section>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category,message in messages %}
              <div class="epopup1">
                <span class="etext1">
                  {{ message }}
                </span>
              </div>
            {% endfor %}
          {% endif %}
          {% set messages = undefined%}
        {% endwith %}
        <div class="epopup" id="passwordError">
          <span class="etext">
             *Password doesn't match
          </span>
        </div>
        <div class="epopup" id="passwdstrength">
          <span class="etext">
             *Password is weak
          </span>
        </div>        
        <div class="epopup" id="emailError">
          <span class="etext">
            *Invalid Email Id
          </span>
        </div>

        <div class="resetpop" id="resetpopup">
          <div class="logo-container">
            Forgot Password 
          </div>
          <form class="rform" action="" method="POST" >
            {{ resetform.hidden_tag() }}
            <div class="form-group">
              {{resetform.email.label()}}
              <!-- <label for="email">Email</label> -->
              {{resetform.email(id='email', placeholder='Enter your Email' , required='')}}
              <!-- <input type="text" id="email" name="email" placeholder="Enter your email" required=""> -->
            </div>
            {{resetform.submit(class='form-submit-btn')}}
            <!-- <button class="form-submit-btn" type="submit">Reset</button> -->
          </form>
        </div>

        <script>
          var x = document.getElementById("login");
          var y = document.getElementById("signup");
          var z = document.getElementById("btn");
          function signup(){
            x.style.left = "-650px";
            y.style.left = "62px";
            z.style.left = "220px";
            z.style.background = "linear-gradient(to left, #2d79f3, #000000)";
          }
          function login(){
            x.style.left = "62px";
            y.style.left = "650px";
            z.style.left = "0px";
            z.style.background = "linear-gradient(to right, #2d79f3, #000000)";
          }

          let eyeicon = document.getElementById("eyeicon");
          let password = document.getElementById("password");
          eyeicon.onclick = function() {
              if (password.type == "password") {
              password.type = "text";
              eyeicon.src = "{{url_for('static',filename='img/eye-open.png')}}";
            } else {
            password.type = "password";
            eyeicon.src = "{{url_for('static',filename='img/eye-close.png')}}";
            }
          }

          let eyeiconSignup = document.getElementById("eyeiconSignup");
          let passwordSignup = document.getElementById("passwordSignup");
          eyeiconSignup.onclick = function() {
              if (passwordSignup.type == "password") {
              passwordSignup.type = "text";
              eyeiconSignup.src = "{{url_for('static',filename='img/eye-open.png')}}";
            } else {
            passwordSignup.type = "password";
            eyeiconSignup.src = "{{url_for('static',filename='img/eye-close.png')}}";
            }
          }

          let eyeiconConfirm = document.getElementById("eyeiconConfirm");
          let confirmPassword = document.getElementById("confirmPassword");
          eyeiconConfirm.onclick = function() {
              if (confirmPassword.type == "password") {
              confirmPassword.type = "text";
              eyeiconConfirm.src = "{{url_for('static',filename='img/eye-open.png')}}";
            } else {
            confirmPassword.type = "password";
            eyeiconConfirm.src = "{{url_for('static',filename='img/eye-close.png')}}";
            }
          }
          
          window.addEventListener('DOMContentLoaded', function() {
          const epopups = document.querySelectorAll('.epopup');
          let topPosition = 59; 
          epopups.forEach(function(epopup) {
          epopup.style.top = topPosition + '%';
          topPosition -= 13.5; 
          epopup.style.display = "none";
            });
          });   

          window.addEventListener('DOMContentLoaded', function() {
          const epopups = document.querySelectorAll('.epopup1');
          let topPosition = 59; 
          epopups.forEach(function(epopup) {
          epopup.style.top = topPosition + '%';
          topPosition -= 13.5; 
          epopup.style.display = "block";
          setTimeout(function() {
            epopup.style.display = "none";
            epopup.classList.remove("fade-out");
        }, 4000);
            });
          }); 

          
          var val_pass;
          var val_ema;
          var pass_str;
          
          function validatePasswords() {
          var password = document.getElementById("passwordSignup").value;
          var confirmPassword = document.getElementById("confirmPassword").value;
           if (password !== confirmPassword) {
            document.getElementById("passwordError").style.display = "block";
            val_pass = false
          } else {
            document.getElementById("passwordError").style.display = "none";
            val_pass = true
            }
          }                                   
        function validateEmail() {
        var emailInput = document.getElementById('emailInput');
        var email = emailInput.value.trim();
        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
          if (emailRegex.test(email) || emailInput.value == '') {
          document.getElementById("emailError").style.display = "none";
          val_ema = true
        } else {
          document.getElementById("emailError").style.display = "block";
          val_ema = false
        }
      }                                                      
        function hideErrorMessage() {
        document.getElementById("emailError").style.display = "none";
      }               
      
      function passstr(){
      var str = document.getElementById("passwdstrength");
      var pas = document.getElementById("passwordSignup");
      if(pas.value.length < 4 && pas.value !=''){
        document.getElementById("passwdstrength").style.display = "block";
        pass_str = false
      }
      else if(pas.value.length >=4 || pas.value == ''){
        document.getElementById("passwdstrength").style.display = "none";
        pass_str = true
      }}
      function hidestrMessage() {
        document.getElementById("passwdstrength").style.display = "none";
      }   
      function hideall() {
        document.getElementById("passwdstrength").style.display = "none";
        document.getElementById("emailError").style.display = "none";
        document.getElementById("passwordError").style.display = "none";
      }   

      function enableSignUpButton() {
      var passwordMatch = validatePasswords();
      var validEmail = validateEmail();
      var signUpButton = document.getElementById("signupBtn");

    if (passwordMatch && validEmail) {
      signUpButton.disabled = false;
     } else {
      signUpButton.disabled = true;
    }
  }
  document.getElementById("signupButton").disabled = true;
  function toggleSignupButton() {
  var password = document.getElementById("passwordSignup").value;
  var confirmPassword = document.getElementById("confirmPassword").value;
  var emailInput = document.getElementById('emailInput').value.trim();
  var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

  if (password === confirmPassword && emailRegex.test(emailInput) && (password !='' && confirmPassword!='') && (password.length >=4)) {
    document.getElementById("signupButton").disabled = false;
  } else {
    document.getElementById("signupButton").disabled = true;
  }
}
document.getElementById("passwordSignup").addEventListener("keyup", toggleSignupButton);
document.getElementById("confirmPassword").addEventListener("keyup", toggleSignupButton);
document.getElementById("emailInput").addEventListener("keyup", toggleSignupButton);


var forgotPassword = document.getElementById('forgotPassword');
var resetPopup = document.getElementById('resetpopup');

forgotPassword.addEventListener('click', function() {
  resetPopup.style.display = 'block';
});

document.body.addEventListener('click', function(event) {
  if (!resetPopup.contains(event.target) && event.target !== forgotPassword) {
    resetPopup.style.display = 'none';
  }
});
    //   var signupButton = document.querySelector('#signup .button-submit');
    //   signupButton.disabled = true;
    //   document.addEventListener("DOMContentLoaded", function() {
      

    //   const eminp = document.getElementById("emailInput")
    //   const passinp = document.getElementById("passwordSignup")
    //   const conf_pass_inp = document.getElementById("confirmPassword")
    //   const submit_inp = document.getElementById("regsub")

    //   eminp.addEventListener("input",validateform);
    //   passinp.addEventListener("input",validateform);
    //   conf_pass_inp.addEventListener("input",validateform);
    //   submit_inp.addEventListener("input",validateform);
    // //   var inputFields = document.querySelectorAll('#signup input');
    // // inputFields.forEach(function(input) {
    // //     input.addEventListener('input', validateform);
    // // });

    //   function validateform(){
    //     signupButton.disabled = !(pass_str && val_ema && val_pass)
    //   }
    // });

      </script>
</body>
</html>