*{
    margin: 0;
    padding: 0;
}

/* ---------------- Home Section ------------- */
.header{
    min-height: 100vh;
    width: 100%;
    background: radial-gradient(77.2% 114.39999999999999% at 51.4% -3.4000000000000004%, #19194d 0%, rgba(0, 0, 0, 1) 48.10810260944537%);
    background-position: center;
    flex-wrap: wrap;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
nav img{
    padding-left: 15%;
    width: 230px;

}
.nav-links{
    padding-left: 20.5%;
    flex: 1;
    text-align:justify;
}
.nav-links ul li{
    margin-top: 10px;
    list-style: none;
    display: inline-block;  
    padding: 10px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(214, 214, 214);  
    text-decoration: none;
    font-size: 18px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: whitesmoke;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after{
    width: 80%
}
.nav-log ul li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
    list-style: none;
    display: inline-block;  
    padding: 10px 60px;
    position: relative;
}
.nav-log ul li button{
    border: 2px solid#2d79f3;
    color: #2d79f3;
    background-color: transparent;
    border-radius: 5px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
}
.nav-log ul li button:hover{
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #4040ff;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }   
}
.textbox{
    margin-top: 100px;
    width: 100%;
    color: rgb(214, 214, 214);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.textbox h1{
    font-size: 75px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      -webkit-background-clip: text;
       background-clip: text;
      -webkit-text-fill-color: transparent;
       background-image: radial-gradient(circle, #086FFF 20%, #FFDDB7 30%, #086FFF 70%, #FFDDB7 80%), radial-gradient(circle, #086FFF 20%, #FFDDB7 30%, #086FFF 70%, #FFDDB7 80%); /* Define your gradient colors here */
       background-size: 250% 250%; 
       background-position: 0% 0%, 50% 50%; 
       background-repeat: no-repeat;
       animation: rotateGradient 10s ease-in infinite alternate;
    } 
    @keyframes rotateGradient {
      from {
          background-position: 0 0;
      }
      to {
          background-position: 100% 100%;
      }
  }
.textbox p{
    font-size: 14px;
    color: grey;
}
.textbox p1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: grey; 
    
}
.textbox p2{ 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: grey; 
    font-weight: bold;
}
.drag-area{
  position: relative;
  margin-top: 3%;
  top: 36%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 2px dashed white;
  height: 200px;
  width: 700px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
  .drag-area header{
  color: grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  }
  .Documents-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: 50px;
  border: none;
  padding: 0px 15px;
  border-radius: 5px;
  background-color:#002093;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s;
  }
  .folderContainer {
  width: 45px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  }
  .fileBack {
  z-index: 1;
  width: 80%;
  height: auto;
  }
  .filePage {
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease-out;
  }
  .fileFront {
  width: 85%;
  height: auto;
  position: absolute;
  z-index: 3;
  opacity: 0.95;
  transform-origin: bottom;
  transition: all 0.3s ease-out;
  }
  .textbrws {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 550;
  letter-spacing: 0.5px;
  }
  .Documents-btn:hover .filePage {
  transform: translateY(-5px);
  }
  .Documents-btn:hover {
  background-color:#574ace ;
  }
  .Documents-btn:hover .fileFront {
  transform: rotateX(30deg);
  }
.desc{
    width: 100%;
    margin-top: -40px;
    color: rgb(168, 168, 168);
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.desc p{
    font-size: 19px;
    color: grey;
  }

/* ---------------- How It Works Section ------------- */
.hows{
  background: #f1f1f1;
}
.how{
  background: #f1f1f1;
  width: 90%;
  height: 80vh;
  margin: auto;
  padding-top: 80px;
  position: relative;
}
.how h1{
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.hrow{
  margin-top: 6%;
  display: flex;
  justify-content: space-between;
}
.how-col{
  flex-basis: 23%;
  background: #7eadff;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 15px;
  box-sizing: border-box;
  position: relative;
}
.how h3{
  text-align: left;
  font-weight: 600;
  margin: 12px 0;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.how-col p{
  text-align: left;
  color: rgb(77, 77, 77);
  font-weight: 800;
}
.how-col p1{
  text-align: left;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.hrow .how-col:hover {
  transform: scale(1.2, 1.2);
}
.hrow:hover > .how-col:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}
.hrow .how-col {
  transition: 500ms;
}
.rev{
  background:#bbbbbb;
  width: 100%;
  height: 140vh;
  margin: auto;
  position: relative;
}
.rev h1{
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  padding-top: 80px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.revimg{
  position: relative;
  width: 0;
  transform: translate(-50%,-50%);
  top: 10%;
  left: 19%;
}
.slider{
  position: relative;
  width: 100%;
  transform: translate(-50%,-50%);
  top: 35%;
  left: 38%;
  height: 600px;
  perspective: 400px;
  overflow: hidden;
  color: white;
}
.item{
  position: absolute;
  width: 500px;
  height: 400px;
  text-align: justify;
  background-color: #000000;
  border-radius: 10px;
  padding: 30px 40px; 
  transition: 0.5s;
  left: calc(50% - 110px);
  top: 20%;
  box-shadow: 0 0 30px #7eadff, 0 0 30px #7eadff, 0 0 30px #7eadff;
  animation: animate 2s infinite alternate;
}
.item h1{
  text-align: left;
  margin-top: -30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.item p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}
.item p1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  font-weight: 600;
}
#next, #prev{
  position: absolute;
  top: 45%;
  color: #000000;
  background-color: transparent;
  border: none;
  font-size: 70px;
  font-family: monospace;
  font-weight: bold;
  left: 360px;
}
#next{
  left: unset;
  right: 0px;
}
@keyframes animate {
  to {
      box-shadow: 0 0 30px #7eadff, 0 0 30px #7eadff, 0 0 30px #7eadff;
  }
}

/* ---------------- FAQ Section ------------- */
.faqsec{
  background: #f2f2f2;
  width: 100%;
  height: 95vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
  overflow: hidden;
}
.faqsec h1{
  font-size: 50px;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.faqm{
  top: 10%;
  position: relative;
}
.faq{
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #a0a0a0;
  cursor: pointer;
  position: relative;
}
.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question h3 {
  font-size: 1.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.answer{
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}
.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.faq.active .answer{
  max-height: 300px;
  animation: fade 1s ease-in-out;
}
.faq.active svg {
  transform: rotate(180deg);
  }
  svg {
  transition: transform 0.5s ease-in;
  }
  @keyframes fade {
  from {
  opacity: 0;
  transform: translateY(-10px);
  }
  to {
  opacity: 1;
  transform: translateY(0px);
  }
}

/* ---------------- Footer Section ------------- */
.foote{
  background: #f2f2f2;
  width: 100%;
  height: 76vh;
  margin: 0 auto;
  align-items: center;
}
footer{
  background: #030208;

}
.foot-container{
  width: 1140px;
  margin:auto;
  display: flex;
  justify-content: center;
}
.footer-content{
  margin-top: 20px;
  width: 33.3%;
}
.foot-container h3{
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #6d72ff;
}
.footer-content p{
  width:190px;
  margin: auto;
  margin-left: 95px;
  padding: 14px;
  color: white;
  font-size: 18px;
}
.footer-content ul{
  text-align: center;
}
.list{
  padding: 0px;
}
.list li{
  width: auto;
  text-align: center;
  list-style-type:none;
  padding: 10px;
  position: relative;
}
.list li::before{
  content: '';
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: #6d72ff;
  transition-duration: .5s;
}
.list li:hover::before{
  width: 70px;
}
.list li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.list li a:hover{
  color: #6d72ff;
}
.bottom-bar{
  background: #6d72ff;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}
.bottom-bar p{
  color: #000000;
  margin: 0;
  font-size: 17px;
  font-weight: 600;
  padding: 7px;
}
.tooltip-container {
  position: relative;
  background-image: radial-gradient(150.2% 114.39999999999999% at 51.4% -3.4000000000000004%, #36369b 0%, rgb(86, 89, 148) 20.10810260944537%);
  cursor: pointer;
  transition: all 1s;
  font-size: 17px;
  width: 50px;
  height: 50px;
  left: 43%;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #fff;
}
.tooltip-container .borde-back {
  width: 60px;
  height: 60px;
  background-color: #030208;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: none;
}
.tooltip-container .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-image: radial-gradient(150.2% 114.39999999999999% at 51.4% -3.4000000000000004%, #36369b 0%, rgb(86, 89, 148) 20.10810260944537%);
  cursor: pointer;
}
.tooltip {
  position: absolute;
  top: -2;
  left: -45px;
  transform: translateX(-32%); 
  width: 160px;
  height: 52px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.9s;
  border-radius: 50px;
  background-image: radial-gradient(150.2% 114.39999999999999% at 51.4% -3.4000000000000004%, #36369b 0%, rgb(86, 89, 148) 20.10810260944537%);
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 16px;
  color: #fff;
  font-size: 19px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600px;
}
.tooltip::before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  right: -0.2em; 
  top: 50%; 
  transform: translateY(-50%) rotate(45deg); 
  background: var(--background);
}
.tooltip-container:hover .tooltip {
  left: 100%; 
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: -10;
}
.tooltip-container:hover {
  transform: translateX(-50px);
  transition: 0.9s linear;
}
.tooltip-container a{
  color: white;
  text-decoration: none;
}
.tooltip a:hover{
  color: black;
}
.footimg{
  width: 100%;
  transform: translate(-50%,-50%);
  top: 22%;
  left: 50%;
  position: relative;
}

/* ---------------- Log In Page ------------- */
.navbar{
  height: 20%;
  width: 100%;
  background: radial-gradient(150.2% 114.39999999999999% at 51.4% -3.4000000000000004%, #19194d 0%, rgba(0, 0, 0, 1) 20.10810260944537%);
  background-position: center;
  flex-wrap: wrap;
  position: relative;
}
.hero{
  height: 77.7vh;
  width: 100%;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  position: relative;
}
.form-box{
  width: 530px;
  height: 552.5px;
  top: 48.5%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: relative;
  background: black;
  border-radius: 0px;
  padding: 2px;
  overflow: hidden;
  box-shadow: 0px 20px 15px 0px rgb(52, 49, 255);
}
.button-box{
  width: 450px;
  margin: 30px auto;
  position: relative;
  /*box-shadow: 0px 0px 15px 1px rgb(21, 0, 255);*/
  border-radius: 10px;
}
.toggle-btn{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 10px 90px;
  cursor: pointer;
  background: transparent;
  color: white;
  border: 0;
  outline: none;
  position: relative;
}
#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 230px;
  height: 100%;
  background: linear-gradient(to right, #2d79f3,#000000);
  border-radius: 10px;
  transition: 0.4s;
}
form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 450px;
  border-radius: 20px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
}
::placeholder {
  font-family: Arial, Helvetica, sans-serif;
}
form button {
  align-self: flex-end;
}
.flex-column p {
margin-top: 10px;
color: #ffffff;
font-weight: 500;
}
.inputForm {
  border: 3px solid #ecedec;
  background-color: #ffffff;
  border-radius: 10px;
  height: 40px;
  width: 400px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  transition: 0.2s ease-in-out;
}
.inputForm img{
  width: 22px;
  cursor: pointer;
}
.input { 
  padding-left: 10px;
  border-radius: 10px;
  width: 85%;
  border: none;
  height: 100%;
}
.input:focus {
 outline: none;
}
.inputForm:focus-within {
  border: 3px solid #2d79f3;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.flex-row div span {
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: 400;
}
.span {
  font-size: 14px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
  margin-left: 175px;
}
.button-submit {
  margin: 20px 0 15px 0;
  margin-right: 40px;
  background-color: #323232;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 410px;
  cursor: pointer;
}
.button-submit:hover {
  background-color: #1b1b1b;
}
.p {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-right: 35px;
}
.btn {
  margin-top: 0px;
  width: 410px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  border: 1px solid #2d79f3;
  ;
}
#login{
  left: 62px;
}
#signup{
  left: 650px;
}
.epopup {
  position: fixed;
  left: 82%;
  transform: translateX(-50%);
  width: 240px;
  background: transparent;
  background: linear-gradient(135deg, rgba(56, 56, 56, 0), rgba(51, 51, 51, 0)); 
  backdrop-filter: blur(100px); 
  -webkit-backdrop-filter: blur(90px); 
  box-shadow: 0 0px 15px 0px #ff0000; 
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  display: none;  
  animation: fadeOutPopup 10s forwards; 
}
.epopup .etext {
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 300;
  color: red;
}
@keyframes fadeOutPopup {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
      visibility: hidden; 
  }
}

/* ---------------- Browse Files Temp------------- */
#popup{
  display: none;
  position: fixed;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 460px;
  width: 650px;
  background: linear-gradient(135deg, rgba(30, 30, 30, 0), rgba(0, 0, 0, 0));
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(90px);
  box-shadow: 0 0px 25px 0px #275EFE;
  padding: 20px;
  border-radius: 10px;
}
.loader {
  --background: linear-gradient(135deg, #23C4F8, #275EFE);
  --shadow: rgba(39, 94, 254, 0.28);
  --text: #6C7486;
  --page: rgba(255, 255, 255, 0.36);
  --page-fold: rgba(255, 255, 255, 0.52);
  --duration: 3s;
  width: 165px;
  height: 115px;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader:before, .loader:after {
  --r: -6deg;
  content: "";
  position: absolute;
  bottom: 8px;
  width: 120px;
  top: 80%;
  box-shadow: 0 16px 12px var(--shadow);
  transform: rotate(var(--r));
}
.loader:before {
  left: 4px;
}
.loader:after {
  --r: 6deg;
  right: 4px;
}
.loader div {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  position: relative;
  z-index: 1;
  perspective: 600px;
  box-shadow: 0 4px 6px var(--shadow);
  background-image: var(--background);
}
.loader div ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.loader div ul li {
  --r: 180deg;
  --o: 0;
  --c: var(--page);
  position: absolute;
  top: 2px;
  left: 7px;
  transform-origin: 100% 50%;
  color: var(--c);
  opacity: var(--o);
  transform: rotateY(var(--r));
  -webkit-animation: var(--duration) ease infinite;
  animation: var(--duration) ease infinite;
}
.loader div ul li:nth-child(2) {
  --c: var(--page-fold);
  -webkit-animation-name: page-2;
  animation-name: page-2;
}
.loader div ul li:nth-child(3) {
  --c: var(--page-fold);
  -webkit-animation-name: page-3;
  animation-name: page-3;
}
.loader div ul li:nth-child(4) {
  --c: var(--page-fold);
  -webkit-animation-name: page-4;
  animation-name: page-4;
}
.loader div ul li:nth-child(5) {
  --c: var(--page-fold);
  -webkit-animation-name: page-5;
  animation-name: page-5;
}
.loader div ul li svg {
  width: 75px;
  height: 110px;
  display: block;
}
.loader div ul li:first-child {
  --r: 0deg;
  --o: 1;
}
.loader div ul li:last-child {
  --o: 1;
}
.loader span {
  display: block;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 20px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@keyframes page-2 {
  0% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  35%, 100% {
    opacity: 0;
  }
  50%, 100% {
    transform: rotateY(0deg);
  }
}
@keyframes page-3 {
  15% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
  65%, 100% {
    transform: rotateY(0deg);
  }
}
@keyframes page-4 {
  30% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65%, 100% {
    opacity: 0;
  }
  80%, 100% {
    transform: rotateY(0deg);
  }
}
@keyframes page-5 {
  45% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  80%, 100% {
    opacity: 0;
  }
  95%, 100% {
    transform: rotateY(0deg);
  }
}
.progress-bar {
  width: 80%;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-top: 20%;
  margin-left: 10%;
}
.progress-bar-inner {
  height: 20px;
  border-radius: 5px;
  background-color: #4caf50;
  transition: width 0.3s ease;
}
.progress-bar-text {
  margin-top: 10px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}
.drbtn{
  position: relative;
  top: 15%;
  left: 30%;
}
.dbtn {
  display: inline-block;
  border-radius: 4px;
  background-color: #3d405b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }
 
 .dbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 }
 
 .dbtn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
 }
 
 .dbtn:hover span {
  padding-right: 15px;
 }
 
 .dbtn:hover span:after {
  opacity: 1;
  right: 0;
 }
 .retryb {
  display: inline-block;
  border-radius: 4px;
  background-color: #3d405b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
 }
 
 .retryb span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: 17px;
  font-weight: 600;
 }
 
 .retryb span:after {
  content: '«';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -15px;
  transition: 0.5s;
 }
 
 .retryb:hover span {
  padding-left: 15px;
 }
 
 .retryb:hover span:after {
  opacity: 1;
  left: 0;
 }
 .logoutb{
  position: relative;
  margin-top: -41.3%;
  margin-left: 90%;
  transform: translateX(-50%);
  text-align: center;
 }
 .logoutb button{
  border: 2px solid#2d79f3;
  color: #2d79f3;
  background-color: transparent;
  border-radius: 5px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logoutb button:hover{
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
 }
 @keyframes pulse512 {
  0% {
   box-shadow: 0 0 0 0 #4040ff;
  }
 
  70% {
   box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
 
  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }   
}

/* ---------------- Main section ------------- */
.home{
  position: relative;
  background: linear-gradient(360deg, #3f3f3f -100.7016806722689%, rgba(0, 0, 0, 1) 18.10810260944537%);
  width: 100%;
  height: 100vh;
  transition: all .5s ease;
}
.sidebar.close .home{
  left: 78px;
  width: calc(100% - 78px);
}
.home .toggle-sidebar{
  height: 60px;
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}
.home .toggle-sidebar i{
  font-size: 35px;
  color: #dfdfdf;
  margin-left: 95px;
  margin-top: 10px;
}

/* ---------------- Sidebar ------------- */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    /* background: linear-gradient(270deg, #47478e -100.121848739495796%, #0f0f2f 28.10810260944537%); */
    background: linear-gradient(270deg, #464646 -100.121848739495796%, #1b1b1b 28.10810260944537%);
    transition: all .5s ease;
    z-index: 100;
}
.sidebar.close{
    width: 78px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.logo-box{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all .5s ease;
    text-decoration: none;
}
.logo-image {
  font-size: 40px;
  height: 60px;
  width: 80px;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
  transition: all .5s ease;
}
.logo-name{
  margin-top: -35px;
  font-size: 24px;
  font-weight: 600;
  text-align: right;
  margin-right: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-background-clip: text;
   background-clip: text;
  -webkit-text-fill-color: transparent;
   background-image: radial-gradient(circle, #ffffff 20%, #4d4d4d 30%, #ffffff 70%, #4d4d4d 80%), radial-gradient(circle, #ffffff 20%, #4d4d4d 30%, #ffffff 70%, #4d4d4d 80%); 
   background-size: 250% 250%; 
   background-position: 0% 0%, 50% 50%; 
   background-repeat: no-repeat;
    animation: rotateGradient 15s ease-in infinite alternate;
  }
  @keyframes rotateGradient {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}

/* ---------------- Sidebar li ------------- */
.sidebar-list{
    height: 100%;
    padding: 25px 0 150px 0;
    overflow: auto;
}
.sidebar-list li{
    transition: all .5s ease;
}
.sidebar.close .extrac .extname{
  visibility: hidden;
}
.sidebar-list li .extrac{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .5s ease;
  border-bottom: 4px solid #4c41ec;
  border-top: 4px solid #4c41ec;
}
.sidebar-list li .extrac .link{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar-list li .extrac i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #dfdfdf;
  font-size: 25px;
}
.sidebar-list li .extrac .bx-dots-horizontal-rounded{
  margin-left: 23px;
}
.sidebar-list li .extrac .extname{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #dfdfdf;
}
.sidebar.close .extrac .bx-dots-horizontal-rounded{
  visibility: hidden;
}
.sidebar-list li .titleacc{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .5s ease;
  border-top: 4px solid #4c41ec;
  border-bottom: 4px solid #4c41ec;
}
.sidebar-list li .titleacc .link{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar-list li .titleacc i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #dfdfdf;
  font-size: 25px;
}
.sidebar-list li .titleacc .accname{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #dfdfdf;
}
.sidebar.close .accname{
  visibility: hidden;
}
.sidebar-list li .grpsec{
  height: 400px;
  overflow: hidden;
}
.sidebar-list li .title{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
}
.sidebar.close .title .bx-dots-horizontal-rounded{
  visibility: hidden;
}
.sidebar-list li .title .link{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar-list li .title i{
    height: 50px;
    width: 78px;
    text-align: center;
    line-height: 50px;
    color: #dfdfdf;
    font-size: 25px;
}
.sidebar-list li .title .name{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #dfdfdf;
}
.buttonexpo {
  --main-focus: #2d8cf0;
  --font-color: #dedede;
  --bg-color-sub: #222;
  --bg-color: #323232;
  --main-color: #dedede;
  position: relative;
  width: 170px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: left;
  background-color: transparent;
  overflow: hidden;
  border: none;
}
.buttonexpo .button__text {
  transform: translateX(0px);
  color: #b9b5b5;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.buttonexpo .button__icon {
  position: absolute;
  transform: translateX(120px);
  height: 100%;
  width: 55px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
}
.buttonexpo .svg {
  width: 20px;
  fill: transparent;
}
.buttonexpo:hover {
  background: #000000;
  border-radius: 10px;
}
.buttonexpo:hover .svg {
  fill: #00ff00;
}
.buttonexpo:hover .button__text {
  color: transparent;
}
.buttonexpo:hover .button__icon {
  width: 170px;
  transform: translateX(0);
}
.sidebar.close .buttonexpo{
  visibility: hidden;
}

/* ---------------- Hover on Icon ------------- */
.hovericon p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color:#dfdfdf;
}
.hovericon{
  display: none;
}
.sidebar.close .sidebar-list li .hovericon{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  height: max-content;
  width: max-content;
  opacity: 0;
  transition: all .5s ease;
  pointer-events: none;
}
.sidebar.close .sidebar-list li:hover .hovericon{
  opacity: 1;
  top: 0;
  pointer-events: initial;
  background-color: #73737368;
}

/* ---------------- Submenu ------------- */
.sidebar-list li.active .bx-chevron-right{
  transition: all 0.5s ease;
  transform: rotate(90deg);
}
.sidebar-list li .submenu{
    width: 0;
    height: 0;
    opacity: 0;
    transition: all .5s ease;
}
.sidebar-list li.dropdown.active .submenu{
  width: unset;
  height: unset;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding: 6px 6px 14px 80px;
  background-color: transparent;
}
.submenu p{
    color: #dfdfdf;
    font-size: 16px;
    padding: 5px 0;
    transition: all .5s ease;
    cursor: pointer;
}
.submenu p:hover{
    color: #4c41ec;
}

/* ---------------- Submenu Close ------------- */
.sidebar.close .logo-name,
.sidebar.close .title .name,
.sidebar.close .title .bx-chevron-right{
    display: none;
}
.sidebar.close .sidebar-list{
    overflow: visible;
}
.sidebar.close .sidebar-list li{
    position: relative;
}
.sidebar.close .submenu-title{
    display: block;
    font-style: 18px;
    color: #dfdfdf;
}
@media (max-width: 1080px){    
}
@media (max-width: 774px){  
}
@media (max-width: 560px){
}
@media (max-width: 360px){
}
/* ---------------- 3 dots ------------- */
.sidebar.close .dot-menu-box{
  visibility: hidden;
}
.dot-menu-box {
  position: absolute;
  top: 14.2%;
  left: 100%;
  width: 150px;
  height: 101px;
  background-color: rgb(0, 0, 0);
  border: 1px solid #4c41ec;
  text-align: center;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  display: none;
}
.dot-menu-box.active {
  display: block;
}
.dot-menu-box .info {
  font-size: 16px;
  color: white;
  border-bottom: 1px solid #4c41ec;
  cursor: pointer;
  padding: 7px;
}
.dot-menu-box .info:hover {
  background-color: #7770e1;
  color: black;
}
.dot-menu-box .info span {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sidebar.close .dot-menu-grp-box{
  visibility: hidden;
}
.dot-menu-grp-box {
  position: absolute;
  top: 21.9%;
  left: 100%;
  width: 150px;
  height: 101px;
  background-color: rgb(0, 0, 0);
  border: 1px solid #4c41ec;
  text-align: center;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  display: none;
}
.dot-menu-grp-box.active {
  display: block;
}
.dot-menu-grp-box .grpinfo {
  font-size: 16px;
  color: white;
  border-bottom: 1px solid #4c41ec;
  cursor: pointer;
  padding: 7px;
}
.dot-menu-grp-box .grpinfo:hover {
  background-color: #7770e1;
  color: black;
}
.dot-menu-grp-box .grpinfo span {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 9999; /* Ensure it's above other elements */
  display: none; /* Initially hidden */
}
.disable-overlay {
  display: block; /* Show overlay */
}